<h1>Edit comment</h1>
<%= form_with model: @comment, url: "/albums/#{@album.id}/photos/#{@photo.id}/comments/#{@comment.id}" do |form| %>
  <div>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
    <% @comment.errors.full_messages_for(:commenter).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @comment.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
