<%= form_with  model: album, id: "album_form",  url: url do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% album.errors.full_messages_for(:name).each do |message| %>
      <div  id="name_error"><%= message %></div>
    <% end %>
  </div>

  <div >
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% album.errors.full_messages_for(:description).each do |message| %>
    <div id="description_error"><%= message %></div>
  <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
