<h1><%= @album.name%></h1>

<p><%= @album.description %></p>
<ul>
  <li><%= link_to "Edit", "/albums/#{@album.id}/edit"%></li>
  <li><%= link_to "Destroy","/albums/#{@album.id}", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%=link_to "add photos", "/albums/#{@album.id}/photos/new"%></li>
</ul>

<% @album.photos.each do |photo|%>
  <%= image_tag(photo.image, size: "400x400") %></a>
  <li><%= link_to "view", "/albums/#{@album.id}/photos/#{photo.id}"%></li>
  <li><%= link_to "Edit", "/albums/#{@album.id}/photos/#{photo.id}/edit"%></li>
  <li><%= link_to "Destroy", "/albums/#{@album.id}/photos/#{photo.id}", data: {
                   turbo_method: :delete,
                   turbo_confirm: "Are you sure?"
                 } %></li>
<%end%>
