<div class="text-center">
  <div class="myloginform w-100 m-auto">
    <%= image_tag "bootstrap-logo.svg", class: "mb-4", width: "72", height: "57"%>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: {turbo: false}) do |f| %>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "name@example.com" %>
            <%= f.label :email%>
        </div>

        <div class="form-floating">
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "password" %>
            <%= f.label :password %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="checkbox mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
          <%= f.submit "Log in", class: 'w-100 btn btn-lg btn-primary'%>
        <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
