<%= form_with model: @photo, url: "/albums/#{@album.id}/photos" do |form| %>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :caption %>
    <%= form.text_area :caption%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
